# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PT-Project.sln
PT-Project.sdf
PT-Project.v11.suo
PT-Project.vcxproj
PT-Project.vcxproj.filters
PT-Project.vcxproj.user
Debug

.vs
